.discount-item {
    position: relative;
    border-radius: 20px;
    border: 1px solid black;
    min-width: 300px;
    max-width: 450px;
    width: calc(33.33% - 30px);
    overflow: hidden;
    text-align: center;
}

.discount-item-container {
    transition: filter 0.5s ease-in;
}

.discount-item-container.reserved {
    filter: blur(3px) grayscale(100%);
    pointer-events: none;
}

.discount-item img {
    width: 100%;
    min-height: 300px;
    transition: filter 0.5s ease-in;
}

.discount-item.show-information img {
    filter: blur(4px);
}

.item-control-container {
    background-color: #e02130;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.control-item {
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 12px;
    height: 100%;
    white-space: nowrap;
    border-radius: 15px;

    transition: transform 300ms, background-color 300ms ease-in;

}

.control-item:hover {
    background-color: rgba(156, 22, 31, 0.7);
    transform: scale(1.1);
}


.control-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.control-item .icon svg {
    width: calc(100% - 20px);
    max-width: 40px;
    max-height: 40px;
}

.information-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #e02130;
    position: absolute;
    color: white;
    padding: 10px 20px;
    bottom: 100%;
    height: fit-content;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.information-container .close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    right: 0;
    top: -10px;
    background: rgba(255,255,255);
    color: rgba(156, 22, 31);
    font-weight: 800;
    width: 40px;
    height: 30px;
    border: 2px solid rgba(156, 22, 31);
    transition: transform 300ms;
    cursor: pointer;
}
.information-container .close-button:hover {
    transform: scale(1.2);

}

.information-container.close {
    opacity: 0;

}

.information-container .information-title {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.information-container .information-title:first-child {
    padding-top: 0;
}

.information-container .information-line {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.information-container .code-container {
    background: #fff;
    margin: 0 -20px;
    padding: 15px 0;

}

.information-container .code-container canvas {
    width: calc(100% - 20px);
    height: 100px;
}