.modal-container.init {
    opacity: 0;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(3px) grayscale(100%);
    z-index: 1;
    opacity: 1;
    transition: opacity 400ms;
}

.item-modal.init {
    opacity: 0;
}

.item-modal {
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background: #fff;
    border-top: 5px solid #e02130;
    border-bottom: 5px solid #e02130;
    z-index: 1;
    padding: 10px 0;
    font-family: Arial, serif;
    font-style: italic;
    font-weight: bold;
}

.item-modal.rotated {
    width: 120%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(-15deg);
}

.item-modal .title {
    font-size: 25px;
    font-weight: bold;
    color: #e02130;
    padding-bottom: 5px;
}

.item-modal .user span {
    font-weight: normal;
}

.item-modal .after-text {
    font-weight: lighter;
}

.item-modal .confirmation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin: 10px 0;
}

.item-modal .btn {
    border: #f0922e solid 4px;
    padding: 5px 20px;
    border-radius: 3px;
    transform: skew(-15deg);
    font-size: 15px;
    font-family: Arial, serif;
    font-style: italic;
    font-weight: 800;
    -webkit-box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 0.8);
    -moz-box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 0.8);
    box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 0.8);
    transition: box-shadow 400ms, transform 400ms;
    cursor: pointer;
}
.item-modal .btn:hover {
    -webkit-box-shadow: 8px 7px 24px -8px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 7px 24px -8px rgba(66, 68, 90, 1);
    box-shadow: 8px 7px 24px -8px rgba(66, 68, 90, 1);
    transform: translateY(-3px) skew(-15deg);
}

.item-modal .btn.primary {
    background-color: #e02130;
    color: #fff;
}

.item-modal .btn.secondary {
    background-color: #fded14;
}