.control {
    left: 0;
    bottom: 0;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 101;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #fff;
}

.control-container {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.switch-container {
    height: fit-content;
    border-radius: 30px;
    border: #f0922e solid 4px;
    background-color: #fded14;
    display: flex;
    align-items: center;
    justify-content: center;


}

.content-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    white-space: nowrap;
    width: 50%;
    min-width: 170px;
    font-family: Arial, serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 5px 5px 80px rgba(66, 68, 90, 1);
    transition: 0.5s background-color, 0.5s text-shadow, 0.5s color;
    cursor: pointer;
}

@media (max-width: 550px) {
    .content-switcher {
        min-width: fit-content;
        padding-inline: 20px;
    }
}

@media (max-width: 500px) {
    .content-switcher {
        min-width: fit-content;
        padding-inline: 15px;
    }
}

@media (max-width: 450px) {
    .content-switcher {
        min-width: fit-content;
        padding-inline: 5px;
    }
}


.content-switcher:hover {
    text-shadow: 5px 5px 20px rgba(66, 68, 90, 1);
}

.content-switcher.selected:hover {
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 1);
    background-color: #e02130;
    color: #fff;
}

.content-switcher:first-child {
    border-right: #f0922e solid 2px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

}

.content-switcher:last-child {
    border-left: #f0922e solid 2px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

}

.content-switcher.selected {
    text-shadow: 3px 3px 15px rgba(255, 255, 255, 1);
    background-color: #e02130;
    color: #fff;
}