.btn {
    border: #f0922e solid 4px;
    padding: 5px 20px;
    border-radius: 3px;
    transform: skew(-15deg);
    font-size: 15px;
    font-family: Arial, serif;
    font-style: italic;
    font-weight: 800;
    -webkit-box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 0.8);
    -moz-box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 0.8);
    box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 0.8);
    transition: box-shadow 400ms, transform 400ms;
    cursor: pointer;
}
.btn:hover {
    -webkit-box-shadow: 8px 7px 24px -8px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 7px 24px -8px rgba(66, 68, 90, 1);
    box-shadow: 8px 7px 24px -8px rgba(66, 68, 90, 1);
    transform: translateY(-3px) skew(-15deg);
}

.btn.primary {
    background-color: #e02130;
    color: #fff;
}

.btn.secondary {
    background-color: #fded14;
}