.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  max-width: 500px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.logo-container {
  padding: 30px 20px;
}

.logo-container svg {
  width: 100%;
  height: fit-content;
}

.form-container {
  position: relative;
  padding: 30px;
  width: 100%;
}

.form-container:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  border: #f0922e solid 5px;
  transform: skew(-15deg);
  -webkit-box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 0.8);
  -moz-box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 0.8);
  box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 0.8);
}

@media (max-width: 400px) {
  .form-container:before {
    transform: skew(0deg);
  }
}

.form-group {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  align-content: stretch;
}

.form-group label {
  font-weight: bold;
}
.form-group input {
  position: relative;
  width: 50%;
  min-width: 200px;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: #000000;
  border-bottom: solid 3px;
  border-right: solid 3px;
  border-top: solid 1px;
  border-left: solid 1px;
  -webkit-box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 0.8);
  -moz-box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 0.8);
  box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 0.8);
  transition: width 600ms, border 600ms ease-in;
}

.form-group input:focus,
.form-group input:valid {
  width: 95%;
}
.form-group input:focus {
  outline: none;
  border-color: #e02130;
}
.form-group.button {
  margin-top: 20px;
}

.error {
  font-size: 14px;
  color: red;
}

/*.form-container input:focus {*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*    border-bottom: #f0922e solid 2px;*/
/*    border-right: #f0922e solid 2px;*/
/*    transform: skew(-15deg);*/
/*}*/
