.discount-item {
    border-radius: 20px;
    border: 1px solid black;
    min-width: 300px;
    width: calc(33.33% - 30px);
    overflow: hidden;
    text-align: center;
}

.discount-item img {
    /*margin: -25% 0;*/
    width: 100%;
    /*height: 100%;*/

}

.item-control-container {
    background-color: #e02130;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.control-item {
    display: flex;
    flex-direction: column;
}


.control-item span {
    /*background-size: 15px;*/
    background-position: center;
    display: block;
    width: 40px;
    height: 40px;
    color: white;
}

.control-item.reserve span {
    background-image: url("/public/img/lock.svg");
}

.control-item.show span {
    background-image: url("/public/img/visibility.svg");
}

.control-item.make-public span {
    background-image: url("/public/img/group_add.svg");
}

.control-item.use-up span {
    background-image: url("/public/img/done.svg");
}

/*reserve*/
/*show*/
/*make-public*/
/*use-up*/
