.discount-item {
    border-radius: 20px;
    border: 1px solid black;
    min-width: 300px;
    width: calc(33.33% - 30px);
    overflow: hidden;
    text-align: center;
}

.discount-item img {
    width: 100%;
    min-height: 300px;

}

.item-control-container {
    background-color: #e02130;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.control-item {
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 12px;
    height: 100%;
    white-space: nowrap;
}


.control-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.control-item .icon svg {
    width: calc(100% - 20px);
    max-width: 40px;
    max-height: 40px;
}
